banco_de_dados_II-trabalho2/campeonato.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    
	<!-- Elemento Complexo Nome -->
    <xs:element name="tipoNome">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:length value="50"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
	
    <!-- Elemento Complexo Posição -->
    <xs:element name="posicao">
        <xs:complexType>
            <xs:attribute name="id" type="xs:positiveInteger" use="required" />
			<xs:attribute name="nome" type="tipoNome" use="optional" />
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo Posições -->
    <xs:element name="posicoes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="posicao" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo Jogador -->
    <xs:element name="jogador">
        <xs:complexType>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
            <xs:attribute name="idPosicao" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="nome" type="tipoNome" use="optional" />
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo Diretor -->
    <xs:element name="diretor">
        <xs:complexType>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="nome" type="tipoNome" use="optional" />
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo Diretores-->
    <xs:element name="diretores">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="diretor" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo Patrocinador -->
    <xs:element name="patrocinador">
        <xs:complexType>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="nome" type="tipoNome" use="optional" />
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo Patrocinadores-->
    <xs:element name="patrocinadores">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="patrocinador" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo TorcidaOrganizada -->
    <xs:element name="torcidaOrganizada">
        <xs:complexType>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="nome" type="tipoNome" use="optional" />
        </xs:complexType>    
    </xs:element>
    
    <!-- Elemento Complexo TorcidasOrganizadas -->
    <xs:element name="torcidasOrganizadas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="torcidaOrganizada" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<!-- Elemento Complexo Clube-->
    <xs:element name="clube">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="Jogador1" type="xs:positiveInteger"/>
				<xs:element name="Jogador2" type="xs:positiveInteger"/>
				<xs:element name="Jogador3" type="xs:positiveInteger"/>
				<xs:element name="Jogador4" type="xs:positiveInteger"/>
				<xs:element name="Jogador5" type="xs:positiveInteger"/>
				<xs:element name="Jogador6" type="xs:positiveInteger"/>
				<xs:element name="Jogador7" type="xs:positiveInteger"/>
				<xs:element name="Jogador8" type="xs:positiveInteger"/>
				<xs:element name="Jogador9" type="xs:positiveInteger"/>
				<xs:element name="Jogador10" type="xs:positiveInteger"/>
				<xs:element name="Jogador11" type="xs:positiveInteger"/>
				<xs:element name="Jogador12" type="xs:positiveInteger"/>
				<xs:element name="Jogador13" type="xs:positiveInteger"/>
				<xs:element name="Jogador14" type="xs:positiveInteger"/>
				<xs:element name="Jogador15" type="xs:positiveInteger"/>
				<xs:element name="Jogador16" type="xs:positiveInteger"/>
                <xs:element ref="torcidaOrganizada"/>
                <xs:element ref="tecnico"/>
                <xs:element ref="diretores"/>
                <xs:element ref="patrocinadores"/>
            </xs:sequence>
			<xs:attribute name="id" type="xs:positiveInteger" use="required" />
			<xs:attribute name="nome" type="tipoNome" use="required" />
        </xs:complexType>
    </xs:element>
	
	<!-- Elemento Complexo Clubes-->
    <xs:element name="clubes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="clube" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
    <!-- Elemento Complexo Rodada -->
    <xs:element name="rodada">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="clube1Gol" type="xs:positiveInteger"/>
                <xs:element name="clube2Gol" type="xs:positiveInteger"/>
                <xs:element name="clube1Ponto" type="xs:positiveInteger"/>
                <xs:element name="clube2Ponto" type="xs:positiveInteger"/>
                <xs:element name="clube1Amarelo" type="xs:positiveInteger"/>
                <xs:element name="clube2Amarelo" type="xs:positiveInteger"/>
                <xs:element name="clube1Vermelho" type="xs:positiveInteger"/>
                <xs:element name="clube2Vermelho" type="xs:positiveInteger"/>
            </xs:sequence>
            <xs:attribute name="idCampeonato" type="xs:positiveInteger" use="required" />
            <xs:attribute name="idRodada" type="xs:positiveInteger" use="required" />
            <xs:attribute name="idClube1" type="xs:positiveInteger" use="required" />
            <xs:attribute name="idClube2" type="xs:positiveInteger" use="required" />
        </xs:complexType>
    </xs:element>

	<!-- Elemento Complexo Rodadas -->
    <xs:element name="rodadas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="rodada" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo ClassificacaoGeral-->
    <xs:element name="classificacaoGeral">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="posicao" type="xs:positiveInteger"/>
                <xs:element ref="clube" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo ClassificaçõesGerais -->
    <xs:element name="classificacoesGerais">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="classificacaoGeral" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo Tecnico-->
    <xs:element name="tecnico">
        <xs:complexType>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="nome" type="tipoNome" use="optional" />
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo ClubeDiretor-->
    <xs:element name="clubeDiretor">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="diretor" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="clube" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo ClubePatrocinador-->
    <xs:element name="clubePatrocinador">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="patrocinador" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element ref="clube" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<!-- Elemento Complexo Campeonato-->
    <xs:element name="campeonato">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="ano" type="xs:positiveInteger"/>
				<xs:element name="nroClubes" type="xs:positiveInteger"/>
                <xs:element ref="clubes" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="rodadas" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="classificacoesGerais" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
			<xs:attribute name="id" type="xs:positiveInteger" use="required" />
			<xs:attribute name="nome" type="tipoNome" use="optional" />
        </xs:complexType>
    </xs:element>

    <!-- Root -->
    <xs:element name="campeonatos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="campeonato" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    <!-- PKs -->
    <xs:key name="pk_posicao">
        <xs:selector xpath=".//posicao"/>
        <xs:field xpath="@id"/>
    </xs:key>
    
    <xs:key name="pk_jogador">
        <xs:selector xpath=".//jogador"/>
        <xs:field xpath="@id"/>
    </xs:key> 
        
    <xs:key name="pk_diretor">
        <xs:selector xpath=".//diretor"/>
        <xs:field xpath="@id"/>
    </xs:key>
    
    <xs:key name="pk_tecnico">
        <xs:selector xpath=".//tecnico"/>
        <xs:field xpath="@id"/>
    </xs:key>
    
    <xs:key name="pk_patrocinador">
        <xs:selector xpath=".//patrocinador"/>
        <xs:field xpath="@id"/>
    </xs:key>    
        
    <xs:key name="pk_classificacao_geral">
        <xs:selector xpath=".//classificacaoGeral"/>
        <xs:field xpath="@id"/>
    </xs:key>
        
    <xs:key name="pk_clubeDiretor">
        <xs:selector xpath=".//clubeDiretor"/>
        <xs:field xpath="@id"/>
    </xs:key>

    <xs:key name="pk_clubePatrocinador">
        <xs:selector xpath=".//clubePatrocinador"/>
        <xs:field xpath="@id"/>
    </xs:key>

    <xs:key name="pk_clube">
		<xs:selector xpath="campeonato/clubes/clube"/>
        <xs:field xpath="@id"/>
    </xs:key>

    <xs:key name="pk_campeonato">
		<xs:selector xpath="campeonato"/>
        <xs:field xpath="@id"/>
    </xs:key>

    <!-- Refs PKs -->
    <xs:keyref name="fk_jogador_posicao" refer="pk_posicao">
        <xs:selector xpath="jogador"/>
        <xs:field xpath="idPosicao"/>
    </xs:keyref>
       
    <xs:keyref name="fk_campeonato_classificacaoGeral" refer="pk_campeonato">
        <xs:selector xpath="campeonato"/>
        <xs:field xpath="idCampeonato"/>
    </xs:keyref>

    <xs:keyref name="fk_clube_jogador1" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador1"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador2" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador2"/>
	</xs:keyref>

	<xs:keyref name="fk_clube_jogador3" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador3"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador4" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador4"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador5" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador5"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador6" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador6"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador7" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador7"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador8" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador8"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador9" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador9"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador10" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador10"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador11" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador11"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador12" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador12"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador13" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador13"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador14" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador14"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador15" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador15"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador16" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador16"/>
	</xs:keyref>
        
    </xs:element>  
</xs:schema>
