banco_de_dados_II-trabalho2/campeonato.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    
    <!-- Elemento Complexo Posição -->
    <xs:element name="posicao">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required" />
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo Posições -->
    <xs:element name="posicoes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="posicao" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo Diretor -->
    <xs:element name="diretor">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo Patrocinador -->
    <xs:element name="patrocinador">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    
    <!-- Elemento Complexo TorcidaOrganizada -->
    <xs:element name="torcidaOrganizada">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        </xs:complexType>    
    </xs:element>

    <!-- Elemento Complexo ClassificacaoGeral-->
    <xs:element name="classificacaoGeral">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="campeonato" use="required" use="required"/>
                <xs:element name="posicao" type="xs:positiveInteger" use="required"/>
                <xs:element ref="clube" minOccurs="1" maxOccurs="unbounded" use="required"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Elemento Complexo Tecnico-->
    <xs:element name="tecnico">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Nome" type="xs:string" use="required"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Elemento Complexo ClubeDiretor-->
    <xs:element name="clubeDiretor">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="diretor" minOccurs="1" maxOccurs="1" use="required"/>
                <xs:element ref="clube" minOccurs="1" maxOccurs="1" use="required"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Elemento Complexo ClubePatrocinador-->
    <xs:element name="clubePatrocinador">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="patrocinador" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element ref="clube" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<!-- Elemento Complexo Clube-->
    <xs:element name="clube">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Nome" type="xs:string" maxLength="50" use="required"/>
				<xs:element name="Jogador1" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador2" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador3" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador4" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador5" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador6" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador7" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador8" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador9" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador10" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador11" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador12" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador13" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador14" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador15" type="xs:positiveInteger" use="required"/>
				<xs:element name="Jogador16" type="xs:positiveInteger" use="required"/>
            </xs:sequence>
			<xs:attribute name="id" type="xs:positiveInteger" use="required" />
        </xs:complexType>
    </xs:element>
	
	<!-- Elemento Complexo Clubes-->
    <xs:element name="clubes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="clube" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<!-- Elemento Complexo Rodadas-->
    <xs:element name="rodadas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="rodada" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<!-- Elemento Complexo Campeonato-->
    <xs:element name="campeonato">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="Nome" type="xs:string" maxLength="50" use="optional"/>
				<xs:element name="Ano" type="xs:positiveInteger" use="optional"/>
				<xs:element name="NroClubes" type="xs:positiveInteger" use="optional"/>
                <xs:element ref="clubes" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element ref="rodadas" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
			<xs:attribute name="id" type="xs:positiveInteger" use="required" />
        </xs:complexType>
    </xs:element>

    <!-- Root -->
    <xs:element name="campeonatos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="campeonato" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    <!-- PKs -->    
    <xs:key name="pk_classificacao_geral">
        <xs:selector xpath=".//classificacaoGeral"/>
        <xs:field xpath="@id"/>
    </xs:key>

    <xs:key name="pk_tecnico">
        <xs:selector xpath=".//tecnico"/>
        <xs:field xpath="@id"/>
    </xs:key>

    <xs:key name="pk_clubeDiretor">
        <xs:selector xpath=".//clubeDiretor"/>
        <xs:field xpath="@id"/>
    </xs:key>

    <xs:key name="pk_clubePatrocinador">
        <xs:selector xpath=".//clubePatrocinador"/>
        <xs:field xpath="@id"/>
    </xs:key>

    <xs:key name="pk_clube">
		<xs:selector xpath="campeonato/clubes/clube"/>
        <xs:field xpath="@id"/>
    </xs:key>

    <xs:key name="pk_campeonato">
		<xs:selector xpath="campeonato"/>
        <xs:field xpath="@id"/>
    </xs:key>

    <!-- Refs PKs -->
    <xs:keyref name="fk_campeonato_classificacaoGeral" refer="pk_campeonato">
        <xs:selector xpath="campeonato"/>
        <xs:field="idCampeonato"/>
    </xs:keyref>

    <xs:keyref name="fk_clube_jogador1" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador1"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador2" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador2"/>
	</xs:keyref>

	<xs:keyref name="fk_clube_jogador3" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador3"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador4" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador4"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador5" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador5"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador6" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador6"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador7" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador7"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador8" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador8"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador9" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador9"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador10" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador10"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador11" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador11"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador12" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador12"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador13" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador13"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador14" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador14"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador15" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador15"/>
	</xs:keyref>
	
	<xs:keyref name="fk_clube_jogador16" refer="pk_jogador">
		<xs:selector xpath="campeonato/clubes/clube"/> 
		<xs:field xpath="Jogador16"/>
	</xs:keyref>
	
    <xs:keyref name="">
    </xs:keyref>

    <xs:keyref name="">
    </xs:keyref>

    <xs:keyref name="">
    </xs:keyref>

    <xs:keyref name="">
    </xs:keyref>

    </xs:element>  
</xs:schema>
